@using Singular.Modules.Core.HtmlExtensions
@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = Html.Translate("Error");
    ViewBag.NoNg = true;
}
<h2>@Html.Translate("Er... really sorry.... an error has occured")</h2>
<p>@Html.Translate("Please try again. Or just give up.")</p>