@using Singular.Modules.Core.HtmlExtensions
@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = Html.Translate("Page Not Found");
    ViewBag.NoNg = true;
}
<h2>@Html.Translate("Ooops... we couldn't find that page!")</h2>
<p>@Html.Translate("Please try again. Or just give up.")</p>