@inherits System.Web.Mvc.WebViewPage
<p>The module <code>alt.ui</code> is a complementary module for Bootstrap and Angular UI.</p>
<h4>Menu</h4>
<ul>
    <li><a data-alt-href="example,nav">Bootstrap nav clicks</a></li>
    <li><a data-alt-href="example,buttons">Dropdown</a></li>
</ul>
