@using Singular.Web.Mvc.HtmlExtensions
@inherits System.Web.Mvc.WebViewPage
<div class="sg-loader" data-ng-class="{'in':Ui.LoaderVisible==true}">
    <div class="sg-loader-overlay"></div>
    <div class="sg-loader-inner">
        <div class="sg-loader-inner-inner" style="background-image: url('@Url.EmbeddedContent("Core", "~/Content/Images/Shape51.png")')"></div>
    </div>
</div>