################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AltNg/bin
/AltNg/obj/Debug
/Identity2Test/bin
/Identity2Test/obj/Debug
/MySingularApplication/bin
/MySingularApplication/obj/Debug
/MySingularApplication2/bin
/MySingularApplication2/obj/Debug
/AltNg/AltNg.csproj.user
/Identity2Test/Identity2Test.csproj.user
/MySingularApplication/MySingularApplication.csproj.user
/MySingularApplication2/MySingularApplication2.csproj.user
/packages
/RandomHarness/bin/Debug
/RandomHarness/obj/Debug
/Singular.Core/bin/Debug
/Singular.Core/obj/Debug
/Singular.Core/Singular.Core.csproj.user
/Singular.Modules.Core/bin
/Singular.Modules.Core/obj/Debug
/Singular.Modules.Core/Singular.Modules.Core.csproj.user
/Singular.Useful/bin/Debug
/Singular.Useful/obj/Debug
/Singular.Web.Mvc/bin/Debug
/Singular.Web.Mvc/obj/Debug
/Singular.Web.Mvc.EmbeddedResourceConfiguration/bin/Debug
/Singular.Web.Mvc.EmbeddedResourceConfiguration/obj/Debug
/.gitignore
/Singular.v12.suo
/Singular.Web.Mvc.Common/bin/Debug
/Singular.Web.Mvc.Common/obj/Debug
/Singular.Modules.Core.Data
/AltNg/obj/Release
/Identity2Test/obj/Release
/MySingularApplication/obj/Release
/MySingularApplication2/obj/Release
/RandomHarness
/Singular.Core/bin/Release
/Singular.Core/obj/Release
/Singular.Modules.Core/obj/Release/TempPE
/Singular.Modules.Core/obj/Release
/Singular.Useful/bin/Release
/Singular.Web.Mvc/bin/Release
/Singular.Web.Mvc.EmbeddedResourceConfiguration/bin/Release
/Singular.Web.Mvc/obj/Release
/Singular.Useful/obj/Release
/Singular.Web.Mvc.EmbeddedResourceConfiguration/obj/Release
