@using AltNg.HtmlExtensions
@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NgAppName = "alt.altuiapp";
    ViewBag.Title = "NgAlt - alt-ui";
}
<section id="main" 
         data-alt-view="'@Url.Content("~/AltUi/NgView")?c=' + $controller + '&amp;a=' + $action">
</section>
@section AfterMainScripts{
    @Html.MinimizedScript("~/Views/AltUi/Scripts/alt.altuiapp.js", DateTime.Now.ToFileTimeUtc().ToString())
}