@using AltNg.HtmlExtensions
@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NgAppName = "alt.homeapp";
    ViewBag.Title = "AltNg - home";
}
<section id="main">
    <div class="jumbotron">
        <h1>Welcome to AltNg</h1>
    </div>
</section>
@section AfterMainScripts{
    <script>
        'use strict';
        var alt = alt || {};
        alt.homeapp = angular.module("alt.homeapp", ["ng", "alt.ui", "ui.bootstrap"]);
        (function(app) {

            app.run(["$rootScope", function ($rootScope) {
                $rootScope.moduleName = "alt.homeapp";
                $rootScope.log = function (obj, obj2) {
                    console.log(obj, obj2);
                }
            }]);
            
            

        })(alt.homeapp);
    </script>
}