@using Singular.Modules.Core.HtmlExtensions
@using Singular.Web.Mvc.HtmlExtensions
@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = Html.Translate("The Stuff Management system");
    ViewBag.NgAppName = "Singular.Modules.SingularCoreApp";
}
@section scripts
{
    <script src="@Url.EmbeddedContent("Core", "~/Content/Ng/Modules/SingularCoreApp.js", IncludeBehaviour.MinifyWhenNotDebug)"></script>
}

<h2>Welcome to the Singular Framework</h2>
<p>Viral chillwave keytar, next level Godard master cleanse Pinterest meh aesthetic Pitchfork umami locavore.</p>
<div class="jumbotron text-center">
    <img src="@Url.EmbeddedContent("Core", "~/Content/Images/Logo.png")" alt="@Html.Translate("Singular Framework")"/>
</div>
<p>Fixie bitters fanny pack, flannel 8-bit taxidermy +1 selfies Kickstarter fashion axe mlkshk VHS salvia. IPhone Helvetica cray High Life.</p>