@using Singular.Modules.Core.HtmlExtensions
@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<h2>@Html.Translate("Forgot your password?")</h2>

<hr />
<p><a alt-href="Login">@Html.Translate("Back to login")</a></p>