/*#region VARS */

/* Small devices (tabets, 768px and up) */
@screen-sm-min: 768px;
@screen-sm-min-plusone: 769px;
@screen-sm-min-minusone: 767px;
/* Medium devices (desktops, 992px and up) */
@screen-md-min: 992px;
@screen-md-min-plusone: 993px;
@screen-md-min-minusone: 991px;
/* Large devices (large desktops, 1200px and up) */
@screen-lg-min: 1200px;
@screen-lg-min-plusone: 1201px;
@screen-lg-min-minusone: 1199px;

@color-dark: #111;
@color-dark-lighten: lighten(@color-dark, 20%);
@color-brand-primary: #563d7c;
@color-brand-primary-lighten: lighten(@color-brand-primary,20%);
@color-white: #fff;
@color-offwhite: darken(@color-white, 4%);
@color-gray: #ccc;
@color-pink: lighten(red, 49%);
@color-red:lighten(red, 40%);

@padding: 16px;

.box-shadow{
    box-shadow: 0 5px 10px 0 @color-dark-lighten
}
.light-border{
    border: 1px solid @color-gray;
}
.bottom-margin{
    margin-bottom:@padding;
}
.top-margin{
    margin-top: @padding;
}
.margin{
    margin: (@padding);
}
.margin-top{
    margin-top: (@padding);
}
.margin-left{
    margin-left: (@padding);
}
.margin-bottom{
    margin-bottom: (@padding);
}
.margin-right{
    margin-right: (@padding);
}
.margin-half{
    margin: (@padding/2);
}
.margin-top-half{
    margin-top: (@padding/2);
}
.margin-left-half{
    margin-left: (@padding/2);
}
.margin-bottom-half{
    margin-bottom: (@padding/2);
}
.margin-right-half{
    margin-right: (@padding/2);
}
.padding{
    padding: (@padding);
}
.padding-top{
    padding-top: (@padding);
}
.padding-left{
    padding-left: (@padding);
}
.padding-bottom{
    padding-bottom: (@padding);
}
.padding-right{
    padding-right: (@padding);
}
.padding-half{
    padding: (@padding/2);
}
.padding-top-half{
    padding-top: (@padding/2);
}
.padding-left-half{
    padding-left: (@padding/2);
}
.padding-bottom-half{
    padding-bottom: (@padding/2);
}
.padding-right-half{
    padding-right: (@padding/2);
}


/*#endregion */

/*#region TOP LEVEL AND HELPERS */

html, body {
    height: 100%;
    min-width: 320px;
}

.contains-floats {
    overflow: hidden;
    height: auto;
}

/*#endregion */

/*#region LOADER */

.sg-loader {
    opacity: 0;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    /*-moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;*/
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100000;
}

.sg-loader.in {
    opacity: 1;
    visibility: visible;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    /*transition-delay: 0.3s;*/
}

.sg-loader-overlay {
    width: 100%;
    height: 100%;    
    background: #111;
    opacity: 0;   
    position:fixed;    
    z-index:100001;
}

.sg-loader-inner {    
    position:fixed; 
    bottom:10px;
    right: 10px;
    width: 60px;
    height: 60px;   
    background-color: @color-brand-primary;
    z-index:100002;
    .box-shadow;
}

.sg-loader-inner-inner{
    -moz-animation: pulse 1s infinite;
    -o-animation: pulse 1s infinite;
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
    background-position: center;
    //background-size: 48px 48px;
    background-repeat: no-repeat;  
    height: 60px;
    width: 60px;  
}

@keyframes pulse{
    0% {opacity: 0.2;}
    50% {opacity: 1;}
    100% {opacity: 0.2;}
}

@-moz-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*#endregion LOADER */

/*#region BOOTSTRAP OVERRIDES */

.collapse, .collapse.in {
    display: block !important;
    visibility: visible !important;
    height: 0;
    overflow-y: hidden;
    -moz-transition: height 0.4s ease;
    -o-transition: height 0.4s ease;
    -webkit-transition: height 0.4s ease;
    transition: height 0.4s ease;
}

.collapse.in {
    height: 100px;
    overflow-y: auto;
}

.navbar-default {
    background: @color-brand-primary;
    color: @color-white;
    border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: @color-brand-primary;
}

.navbar-default a, .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: @color-white;
}

.navbar-default .navbar-toggle .icon-bar {
    color: @color-white;
    background: @color-white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: @color-brand-primary-lighten;
}

ul.nav.navbar-nav.mb-only > li > a {
    background-size: 40px 40px;
    background-repeat: no-repeat;
    height: 40px;
    display: block;
    padding-left: 50px;
    overflow-x: hidden;
}

.navbar {
    margin-bottom: 0;
}

.navbar.navbar-default.navbar-fixed-top > .container-fluid{
    padding-left: 12px;
}

a.navbar-brand {
    background: no-repeat;
    background-size: 40px 40px;
    display: block;
    height: 40px;
    margin-top: 4px;
    padding-left: 25px;
    font-weight: bold;
    font-size: 14px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: @color-brand-primary-lighten;
    color: @color-white;
}

/*#endregion */

/*#region DASHBOARD */

div#sidebar_hidescroll {
    top: 0;
    left: 83px;
    position: fixed;
    height: 100%;
    background: white;
    width: 16px;
}

nav#sidebar {
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    padding-top: 50px;
    background: @color-brand-primary;
    overflow-y: scroll;
}

nav#sidebar > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav#sidebar > ul > li > a {
    display: block;
    padding: @padding;
    border-top: 1px solid @color-brand-primary-lighten;
    background: @color-brand-primary;
}

nav#sidebar > ul > li > a:hover, nav#sidebar > ul > li.active > a {
    background: @color-brand-primary-lighten;
}

nav#sidebar > ul > li > a > img {
    height: 50px;
}

div#after_sidebar {
    border-top: 1px solid @color-brand-primary-lighten;
}


section#dashboard {
    height: 100%;
    padding: 66px @padding @padding 110px;
    background: @color-white;
}

section#dashboard > h2 {
    margin-top: 0;
}

/*#endregion */

/*#region COMMON */

h2{
    padding-bottom: (@padding / 2);
    margin-bottom: (@padding);
    border-bottom: 2px solid @color-dark;
}

.sg-form{
    background: @color-offwhite;
    padding: @padding;
    .box-shadow;
    .light-border;
    .bottom-margin;
}

.sg-form hr{
    border-color: inherit;
}

input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid, select.ng-dirty.ng-invalid,
input.sg-dirty.sg-invalid, textarea.sg-dirty.sg-invalid, select.sg-dirty.sg-invalid{
    border-color: red;
    background: lighten(red,48%)
}



/*#endregion*/

/*#region DESKTOP vs MOBILE */

@media(max-width: @screen-sm-min-minusone) {
    .mb-only {
        display: block !important;
    }

    .dt-only {
        display: none !important;
    }

    section#dashboard {
        padding-left: @padding;
    }
}

@media(min-width: (@screen-sm-min)) {
    .mb-only {
        display: none !important;
    }

    .dt-only {
        display: block !important;
    }
}

/*#endregion */

