/* Small devices (tabets, 768px and up) */
@screen-sm-min: 768px;
@screen-sm-min-plusone: 769px;
@screen-sm-min-minusone: 767px;
/* Medium devices (desktops, 992px and up) */
@screen-md-min: 992px;
@screen-md-min-plusone: 993px;
@screen-md-min-minusone: 991px;
/* Large devices (large desktops, 1200px and up) */
@screen-lg-min: 1200px;
@screen-lg-min-plusone: 1201px;
@screen-lg-min-minusone: 1199px;

@color-dark: #111;
@color-dark-lighten: lighten(@color-dark, 20%);
@color-brand-primary: #563d7c;
@color-brand-primary-lighten: lighten(@color-brand-primary,20%);
@color-white: #fff;

@padding: 16px;


html, body {
    height: 100%;
    min-width: 320px;    
}


.contains-floats {
    overflow: hidden;
    height: auto;
}

.in {
}

.collapse, .collapse.in {
    display: block !important;
    visibility: visible !important;
    height: 0;
    overflow-y: hidden;
    transition: height 0.4s ease;
}

.collapse.in {
    height: 100px;
    overflow-y: auto;
}

.navbar-default {
    background: @color-brand-primary;
    color: @color-white;
    border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: @color-brand-primary;
}

.navbar-default a, .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: @color-white;
}

.navbar-default .navbar-toggle .icon-bar {
    color: @color-white;
    background: @color-white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: @color-brand-primary-lighten;
}

ul.nav.navbar-nav.mb-only > li > a {
    background-size: 40px 40px;
    background-repeat: no-repeat;
    height: 40px;
    display: block;
    padding-left: 50px;
    overflow-x: hidden;
}

.navbar {
    margin-bottom: 0;
}

a.navbar-brand {
    background: no-repeat;
    background-size: 40px 40px;
    display: block;
    height: 40px;
    margin-top: 2px;
    padding-left: 25px;
    font-weight: bold;
}

div#sidebar_hidescroll{
    top: 0;
    left: 83px;
    position: fixed;
    height: 100%;
    background:white;
    width: 16px;
}

nav#sidebar {
    height: 100%;
    top:0;
    left: 0;
    position:fixed;
    padding-top: 50px;
    background: @color-brand-primary;
    overflow-y:scroll;
}

nav#sidebar > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav#sidebar > ul > li > a {
    display: block;
    padding: @padding;
    border-top: 1px solid @color-brand-primary-lighten;
    background: @color-brand-primary;
}


nav#sidebar > ul > li > a:hover, nav#sidebar > ul > li.active > a {
    background: lighten(@color-dark, 10%);
}

nav#sidebar > ul > li > a > img {
    height: 50px;
}

div#after_sidebar{
    border-top: 1px solid @color-brand-primary-lighten;
}


section#dashboard {
    height: 100%;
    padding: 66px @padding @padding 98px;
    background:@color-white;
}
section#dashboard > h2{
    margin-top: 0;
}

@media(max-width: @screen-sm-min-minusone) {
    .mb-only {
        display: block !important;
    }

    .dt-only {
        display: none !important;
    }

    section#dashboard{
        padding-left: @padding;
    }
}

@media(min-width: (@screen-sm-min)) {
    .mb-only {
        display: none !important;
    }

    .dt-only {
        display: block !important;
    }
}
